autopep8==2.0.2
base58==2.1.1
certifi==2022.12.7
charset-normalizer==3.1.0
idna==3.4
ipfs-api==0.2.3
ipfsapi==0.4.4
ipfshttpclient==0.4.13.2
multiaddr==0.0.9
mypy==1.1.1
mypy-extensions==1.0.0
netaddr==0.8.0
pycodestyle==2.10.0
pydantic==1.10.7
requests==2.28.2
six==1.16.0
types-requests==2.28.11.16
types-urllib3==1.26.25.8
typing_extensions==4.5.0
urllib3==1.26.15
varint==1.0.2
